*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

// input {
//     &:focus {
//         outline: none;
//     }
// }

.container {
    padding: 20px 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1280px;

    background-color: lightgrey;
}

.form {

    margin-left: auto;
    margin-right: auto;
    max-width: 540px;


    &__fielset {
        border: none;
        padding: 0;
    }

    &__legent {
        background-color: lightsalmon;
        font-size: 30px;
        // display: block;
        text-align: center;
        margin-bottom: 10px;

        width: 100%;
    }

    &__label {
        font-size: 14px;
        display: inline-block;
        margin-bottom: 8px;
    }

    // &__input-group {
        //     background-color: pink;
        // }

    &__input {
        height: 40px;
        font-size: 18px;
        border: 3px solid transparent;

        &:focus {
            outline: none;
            border-color: blue;
        }
    }


    &__input,
    &__text-area {
        width: 100%;
        margin-bottom: 20px;
    }

    &__text-area {
        resize: none;
        min-height: 150px;
        border: 3px solid transparent;

        &:focus {
            outline: none;
            border-color: blue;
        }
    }
}

.correcto.form__input {
    border: 3px solid #1ed12d;
}

.incorrecto.form__input {
    border: 3px solid red;
}

.txarea-correcto.form__text-area {
    border: 3px solid #1ed12d;
}

.txarea-incorrecto.form__text-area {
    border: 3px solid red;
}




